<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>

<body>
    <!-- try ./partials if this doesnt work -->
    <%- include ('../partials/_navbar.ejs') %>
    <h1>Welcome to my pantry</h1>
</body>
</html>