<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pantry Item</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add food to your pantry</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
        <label for="food">Food:</label>
        <input type="text" name="food" id="food">
    
        <label for="total">Total:</label>
        <input type="text" name="total" id="total">

        <button type="submit">Add to pantry</button>
    </form>

</body>
</html>